* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}



/* BODY */

header {

  z-index: 1;
  position: fixed;
  padding: 20px;
  color: #fff;
  background-color: #ff6900;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

footer {
  margin-top: 20px;
  width: 100%;
  background-color: black;
  color: #fff;
}

/* LAYOUT */

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  width: calc(100% / 3 - 20px);
}


/* header */

.target {
  display: flex;
}

.boolean-logo {
  width: 200px;

}

.links {

  text-decoration: none;
}



/* CONTENT */
header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-right: 10px;
}

header a {
  text-decoration: none;
  color: #fff;
}

main {
  padding-top: 150px;
  padding-bottom: 100px;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

/* MAIN */

.card-img {
  position: relative;
}

.card-img img {
  width: 100%;
}

.favourites {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: #fff;
  padding: 10px 15px;
  font-size: 25px;
}

.favourites:hover {
  color: red;
}

.badges {
  position: absolute;
  left: 0;
  bottom: 40px;
  display: flex;
}

.badge {
  color: #fff;
  padding: 10px;
}

.front-img {
  display: block;
}

.back-img {
  display: none;
}

.card-img:hover .front-img {
  display: none;
}

.card-img:hover .back-img {
  display: block;
}


.me-10 {
  margin-right: 10px;
}

.article-brand {
  font-size: 15px;
}

.article-name {
  text-transform: uppercase;
}

.article-price {
  color: red;
}

/* FOOTER */

footer {}

footer ul {
  display: flex;
  list-style-type: none;
}


footer ul li {
  margin-right: 10px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.footer {
  width: 100%;
  border: 1px solid black;
}

.legals {
  width: 100%;
  display: flex;
}

.socials {
  width: 100%;
  margin: 5px;
}


/* HEIGHTS */

.h-100 {
  height: 100px;
}

.h-500 {
  height: 500px;
}

/* WIDHTS */

.w-60 {
  width: 60px;
}

.w-25 {
  width: 25px;
}

/* UTILITIES */

.c-red {
  color: red;
}

.c-lined {
  text-decoration: line-through;
}

.b {
  font-weight: 600;
}

.p-5 {
  padding: 5px;
}

/* COLORS */

.c-white {
  color: #fff;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-silver {
  background-color: silver;
}

.border-black {
  border: 1px solid black;
}